<div class="ui fixed borderless big menu">
    <div class="ui container">
        <a routerLink="main" class=" item">Расписания</a>
        <a routerLink="teacher" class=" item">Переподаватель</a>
        <a routerLink="subject" class=" item">Предмет</a>
        <a routerLink="office" class=" item">Аудитория</a>
        <a routerLink="group" class=" item">Группа</a>
        <a routerLink="login" class=" item">Логин</a>
    </div>
</div>

<div class="column row">
    <div class="ui basic segment">
        <router-outlet></router-outlet>
    </div>
</div>

<flash-messages></flash-messages>