<div class='ui menu big'>
    <div class="ui container">
        <a routerLink="main" class=" item">Расписания</a>
        <a routerLink="teacher" class=" item">Переподаватели</a>
        <a routerLink="subject" class=" item">Предметы</a>
        <a routerLink="office" class=" item">Аудитории</a>
        <a routerLink="group" class=" item">Группы</a>
        <a routerLink="login" class=" item">Логин</a>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
<flash-messages></flash-messages>