.test{

}

.myHoverItem{
    position: relative
}

.myHoverBlock{
    display:none;
}

.myHoverItem:hover .myHoverBlock{
     display:block;
}

.myInline{
    float:left;
}

.myDelete{
    cursor: not-allowed;
}