
.myHoverItem{
    position: relative;
    cursor: not-allowed;
}

.myHoverBlock{
    display:none;
}

.myHoverItem:hover .myHoverBlock{
     display:block;
} 

.myInline{
    float:left;
}

.myCell{
    padding: 10px; 
    margin: 1px;
}
