<div class="ui compact message myCell">
    <!--subject-->
    <div *ngIf="cell.subject.length>0">
        <div *ngFor="let item of cell.subject" class="myHoverItem">
            <div (click)="deleteSubject(item._id, cell._id)" class="myDelete myInline">
                {{item.name}}
            </div>
            <div class="myHoverBlock">
                <button class=" mini circular ui icon button" *ngIf="!idSubject.show" (click)="showSelectSubject(cell._id)"><i class="icon plus"></i></button>
            </div>
            <div *ngIf="idSubject.show" class="myInline">
                <select (click)="setSubjectId($event.target.value)">
                     <option *ngFor="let subject of subjects" [value]="subject._id" >{{subject.name}}</option>
                 </select>
                <button class="mini circular ui icon button" (click)="addSubject()"><i class="icon checkmark"></i></button>
            </div>
        </div>
    </div>

    <div *ngIf="cell.subject.length===0">
        <div>
            <button class=" mini circular ui icon button" *ngIf="!idSubject.show" (click)="showSelectSubject(cell._id)"><i class="icon plus"></i></button>
        </div>
        <div *ngIf="idSubject.show" class="myInline">
            <select (click)="setSubjectId($event.target.value)">
                     <option *ngFor="let subject of subjects" [value]="subject._id" >{{subject.name}}</option>
                 </select>
            <button class="mini circular ui icon button" (click)="addSubject()"><i class="icon checkmark"></i></button>
        </div>
    </div>


    <!--teacher-->

    <div *ngIf="cell.teacher.length>0">
        <div *ngFor="let item of cell.teacher" class="myHoverItem">
            <div (click)="deleteTeacher(item._id, cell._id)" class="myDelete myInline">
                {{item.surname}} {{item.name}} {{item.lastName}}
            </div>
            <div class="myHoverBlock">
                <button class=" mini circular ui icon button" *ngIf="!idTeacher.show" (click)="showSelectTeacher(cell._id)"><i class="icon plus"></i></button>
            </div>
            <div *ngIf="idTeacher.show" class="myInline">
                <select (click)="setTeacherId($event.target.value)">
                     <option *ngFor="let teacher of teachers" [value]="teacher._id" >{{teacher.surname}} {{teacher.name}} {{teacher.lastName}}</option>
                 </select>
                <button class="mini circular ui icon button" (click)="addTeacher()"><i class="icon checkmark"></i></button>
            </div>
        </div>
    </div>
    <div *ngIf="cell.teacher.length===0">
        <div>
            <button class="mini circular ui icon button" *ngIf="!idTeacher.show" (click)="showSelectTeacher(cell._id)"><i class="icon plus"></i></button>
        </div>
        <div *ngIf="idTeacher.show" class="myInline">
            <select (click)="setTeacherId($event.target.value)">
                     <option *ngFor="let teacher of teachers" [value]="teacher._id" >{{teacher.surname}} {{teacher.name}} {{teacher.lastName}}</option>
                 </select>
            <button class="mini circular ui icon button" (click)="addTeacher()"><i class="icon checkmark"></i></button>
        </div>
    </div>


    <!--group-->

    <div *ngIf="cell.group.length>0">
        <div *ngFor="let item of cell.group" class="myHoverItem">
            <div (click)="deleteGroup(item._id, cell._id)" class="myDelete myInline">
                {{item.name}}
            </div>
            <div class="myHoverBlock">
                <button class=" mini circular ui icon button" *ngIf="!idGroup.show" (click)="showSelectGroup(cell._id)"><i class="icon plus"></i></button>
            </div>
            <div *ngIf="idGroup.show" class="myInline">
                <select (click)="setGroupId($event.target.value)">
                     <option *ngFor="let group of groups" [value]="group._id" >{{group.name}}</option>
                 </select>
                <button class="mini circular ui icon button" (click)="addGroup()"><i class="icon checkmark"></i></button>
            </div>
        </div>
    </div>

    <div *ngIf="cell.group.length===0">
        <div>
            <button class=" mini circular ui icon button" *ngIf="!idGroup.show" (click)="showSelectGroup(cell._id)"><i class="icon plus"></i></button>
        </div>
        <div *ngIf="idGroup.show" class="myInline">
            <select (click)="setGroupId($event.target.value)">
                     <option *ngFor="let group of groups" [value]="group._id" >{{group.name}}</option>
                 </select>
            <button class="mini circular ui icon button" (click)="addGroup()"><i class="icon checkmark"></i></button>
        </div>
    </div>


    <!--office-->

    <div *ngIf="cell.office.length>0">
        <div *ngFor="let item of cell.office" class="myHoverItem">
            <div (click)="deleteOffice(item._id, cell._id)" class="myDelete myInline">
                {{item.name}}
            </div>
            <div class="myHoverBlock">
                <button class=" mini circular ui icon button" *ngIf="!idOffice.show" (click)="showSelectOffice(cell._id)"><i class="icon plus"></i></button>
            </div>
            <div *ngIf="idOffice.show" class="myInline">
                <select (click)="setOfficeId($event.target.value)">
                     <option *ngFor="let office of offices" [value]="office._id" >{{office.name}}</option>
                 </select>
                <button class="mini circular ui icon button" (click)="addOffice()"><i class="icon checkmark"></i></button>
            </div>
        </div>
    </div>
    <div *ngIf="cell.office.length===0">
        <div>
            <button class=" mini circular ui icon button" *ngIf="!idOffice.show" (click)="showSelectOffice(cell._id)"><i class="icon plus"></i></button>
        </div>
        <div *ngIf="idOffice.show" class="myInline">
            <select (click)="setOfficeId($event.target.value)">
                     <option *ngFor="let office of offices" [value]="office._id" >{{office.name}}</option>
                 </select>
            <button class="mini circular ui icon button" (click)="addOffice()"><i class="icon checkmark"></i></button>
        </div>
    </div>

    <div>
        <button class="mini  ui icon button" (click)="deleteCell(cell._id)"><i class="icon Minus"></i></button>
        <button *ngIf="showSaveButton" class="mini ui icon button" (click)="clicked()" class="test"><i class="icon save"></i></button>
    </div>
</div>