
.myHoverItem{
    position: relative;
    cursor: not-allowed;
}

.myHoverBlock{
    display:none;
}

.myHoverItem:hover .myHoverBlock{
     display:block;
}

.myInline{
   text-align: center;
}

.myLine:hover{
    background-color: lightcyan;
    box-shadow: inset 0 0 6px;
}

.myCell{
    text-align: center;
    padding: 10px; 
    margin: 1px;
    cursor: pointer;
}

.myTableModal td {
   padding: 5px;
   text-align: left;
}


