<div class="ui compact message myCell">
    <!--subject-->
    <div>
        <div *ngIf="cell.subject.length>0">
            <div *ngFor="let item of cell.subject" class="myHoverItem">
                <div (click)="deleteSubject(item._id, cell._id)" class="myDelete myInline">
                    {{item.name}}
                </div>
                <div class="myHoverBlock">
                    <button class=" mini circular ui icon button" *ngIf="!idSubject.show" (click)="showSelectSubject(cell._id)"><i class="icon plus"></i></button>
                </div>
                <div *ngIf="idSubject.show" class="myInline">
                    <select (click)="setSubjectId($event.target.value)">
                     <option *ngFor="let subject of subjects" [value]="subject._id" >{{subject.name}}</option>
                 </select>
                    <button class="mini circular ui icon button" (click)="addSubject()"><i class="icon checkmark"></i></button>
                </div>
            </div>
        </div>

        <div *ngIf="cell.subject.length===0">
            <div>
                <button class=" mini circular ui icon button" *ngIf="!idSubject.show" (click)="showSelectSubject(cell._id)"><i class="icon plus"></i></button>
            </div>
            <div *ngIf="idSubject.show" class="myInline">
                <select (click)="setSubjectId($event.target.value)">
                     <option *ngFor="let subject of subjects" [value]="subject._id" >{{subject.name}}</option>
                 </select>
                <button class="mini circular ui icon button" (click)="addSubject()"><i class="icon checkmark"></i></button>
            </div>
        </div>
    </div>

    <!--teacher-->
    <div>
        <div *ngIf="cell.teacher.length>0">
            <div *ngFor="let item of cell.teacher" class="myHoverItem">
                <div (click)="deleteTeacher(item._id, cell._id)" class="myDelete myInline">
                    {{item.surname}} {{item.name}} {{item.lastName}}
                </div>
                <div class="myHoverBlock">
                    <button class=" mini circular ui icon button" *ngIf="!idTeacher.show" (click)="showSelectTeacher(cell._id)"><i class="icon plus"></i></button>
                </div>
                <div *ngIf="idTeacher.show" class="myInline">
                    <select (click)="setTeacherId($event.target.value)">
                     <option *ngFor="let teacher of teachers" [value]="teacher._id" >{{teacher.surname}} {{teacher.name}} {{teacher.lastName}}</option>
                 </select>
                    <button class="mini circular ui icon button" (click)="addTeacher()"><i class="icon checkmark"></i></button>
                </div>
            </div>
        </div>
        <div *ngIf="cell.teacher.length===0">
            <div>
                <button class="mini circular ui icon button" *ngIf="!idTeacher.show" (click)="showSelectTeacher(cell._id)"><i class="icon plus"></i></button>
            </div>
            <div *ngIf="idTeacher.show" class="myInline">
                <select (click)="setTeacherId($event.target.value)">
                     <option *ngFor="let teacher of teachers" [value]="teacher._id" >{{teacher.surname}} {{teacher.name}} {{teacher.lastName}}</option>
                 </select>
                <button class="mini circular ui icon button" (click)="addTeacher()"><i class="icon checkmark"></i></button>
            </div>
        </div>
    </div>

    <!--group-->
    <div>
        <div *ngIf="cell.group.length>0">
            <div *ngFor="let item of cell.group" class="myHoverItem">
                <div (click)="deleteGroup(item._id, cell._id)" class="myDelete myInline">
                    {{item.name}}
                </div>
                <div class="myHoverBlock">
                    <button class=" mini circular ui icon button" *ngIf="!idGroup.show" (click)="showSelectGroup(cell._id)"><i class="icon plus"></i></button>
                </div>
                <div *ngIf="idGroup.show" class="myInline">
                    <select (click)="setGroupId($event.target.value)">
                     <option *ngFor="let group of groups" [value]="group._id" >{{group.name}}</option>
                 </select>
                    <button class="mini circular ui icon button" (click)="addGroup()"><i class="icon checkmark"></i></button>
                </div>
            </div>
        </div>

        <div *ngIf="cell.group.length===0">
            <div>
                <button class=" mini circular ui icon button" *ngIf="!idGroup.show" (click)="showSelectGroup(cell._id)"><i class="icon plus"></i></button>
            </div>
            <div *ngIf="idGroup.show" class="myInline">
                <select (click)="setGroupId($event.target.value)">
                     <option *ngFor="let group of groups" [value]="group._id" >{{group.name}}</option>
                 </select>
                <button class="mini circular ui icon button" (click)="addGroup()"><i class="icon checkmark"></i></button>
            </div>
        </div>
    </div>

    <!--office-->
    <div>
        <div *ngIf="cell.office.length>0">
            <div *ngFor="let item of cell.office" class="myHoverItem">
                <div (click)="deleteOffice(item._id, cell._id)" class="myDelete myInline">
                    {{item.name}}
                </div>
                <div class="myHoverBlock">
                    <button class=" mini circular ui icon button" *ngIf="!idOffice.show" (click)="showSelectOffice(cell._id)"><i class="icon plus"></i></button>
                </div>
                <div *ngIf="idOffice.show" class="myInline">
                    <select (click)="setOfficeId($event.target.value)">
                     <option *ngFor="let office of offices" [value]="office._id" >{{office.name}}</option>
                 </select>
                    <button class="mini circular ui icon button" (click)="addOffice()"><i class="icon checkmark"></i></button>
                </div>
            </div>
        </div>
        <div *ngIf="cell.office.length===0">
            <div>
                <button class=" mini circular ui icon button" *ngIf="!idOffice.show" (click)="showSelectOffice(cell._id)"><i class="icon plus"></i></button>
            </div>
            <div *ngIf="idOffice.show" class="myInline">
                <select (click)="setOfficeId($event.target.value)">
                     <option *ngFor="let office of offices" [value]="office._id" >{{office.name}}</option>
                 </select>
                <button class="mini circular ui icon button" (click)="addOffice()"><i class="icon checkmark"></i></button>
            </div>
        </div>
    </div>

    <div>
        <button *ngIf="showSaveButton" class="mini ui icon button" (click)="clickSaveCell(repeatModal,cell)" class="test"><i class="icon save"></i></button>
    </div>
</div>



<sm-modal title="Повторяющееся событие" #repeatModal>
    <modal-content>
        <sm-list>
            <sm-item>
                <label>Повторяется:</label>
                <select class="ui dropdown" #repeatWith (change)='configSave.repeat = repeatWith.value'>
                        <option value="">Выбери</option>
                        <option value="week">Неделя</option>
                        <option value ="everyWeek">Каждая неделя</option>
                    </select>
            </sm-item>

            <sm-item>
                <label>Повторять с интервалом:</label>
                <input type="number" #repeatWithInterval [value]='repeatWithInterval.value' (change)='configSave.repeatWithInterval = repeatWithInterval.value'/>
            </sm-item>

        </sm-list>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button" (click)="deleteCell(configSave.id);">Удалить</div>
            <div class="ui positive button primary" (click)="saveCell(configSave);">Сохранить</div>
        </div>
    </modal-actions>
</sm-modal>