<div class="ui container">
    <ol>
        <li *ngFor="let items of timetable">
            <span *ngFor="let item of items.time"> {{item.begin}} - {{item.end}}</span>
            <span *ngFor="let item of items._subject"> {{item.name}} </span>
            <span *ngFor="let item of items._teacher"> {{item.name}} {{item.lastName}}</span>
            <span *ngFor="let item of items._group"> {{item.name}} </span>
            <span *ngFor="let item of items._office"> {{item.name}}</span>
        </li>
    </ol>
         <select (change)="addTT($event.target.value)">
            <option *ngFor="let teacher of teachers" [value]="teacher._id" >{{teacher.name}} {{teacher.lastName}}</option>
         </select>
</div>