<br>
<div class="ui container">
    
        <input type="date" name="beginDate" (blur)='newDate.beginDate = $event.target.value'>
        <input type="date" name="endDate" (blur)='newDate.endDate = $event.target.value'>
        <div class="ui button" (click)="addDate(newDate)">Добавить</div><br>
  

    <table class="ui celled table" id="timetable">
        <thead>
            <tr> 
                <th></th>
                <th *ngFor="let date of dateList">{{date|amDateFormat:'ll'}}</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let items of timeList">
                <td><i class="icon Minus Square Outline" (click)="deleteTimeLesson(items)"></i>
                    {{(items.begin | amFromUnix)|amDateFormat:'LT' }}-{{(items.end | amFromUnix)|amDateFormat:'LT'}}
                </td>

                <td *ngFor="let slot of items.slots" [dragula]='"bag"' [dragulaModel]='slot'>
                    <tt-cell *ngFor="let c of slot" [cell]='c'></tt-cell>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="time" name="begin" (blur)='lesson.begin = $event.target.value'>
                    <input type="time" name="end" (blur)='lesson.end = $event.target.value'>
                    <div class="ui button" (click)="addLesson(lesson)">Добавить</div>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <button class=" compact ui button " (click)="saveTimetable(timeList)">Сохранить расписание</button>
        </tfoot>
    </table>
    <br>

    <div class="ui message" [dragula]='"bag"' [dragulaModel]='cellTimetable'>
        <div *ngFor="let item of cellTimetable">
            <tt-cell [cell]='item'></tt-cell>
        </div>
    </div>
</div>

<button class=" container circular ui icon button" (click)="addCell()"><i class="icon plus"></i></button>