<div class="ui container">

    <input type="date" name="beginDate" (blur)='newDate.beginDate = $event.target.value'>
    <input type="date" name="endDate" (blur)='newDate.endDate = $event.target.value'>
    <div class="ui button" (click)="addDate(newDate)">Добавить</div><br>

    <!--Фильтр-->
    <tt-filter (onChanged)="onChanged($event)" [dateList]='dateList' [holidayList]='holidayList'></tt-filter>


    <!--Таблица-->
    <table class="ui celled table myTimetable">
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let date of dateList;">
                    {{date.day|amDateFormat:'ll' }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of timeList">

                <td><i class="icon Minus Square Outline" (click)="deleteTimeLesson(items)"></i> {{(items.begin | amFromUnix)|amDateFormat:'LT'}}-{{(items.end| amFromUnix)|amDateFormat:'LT'}}
                </td>

                <ng-container *ngFor="let slot of items.slots; let dayIndex = index">
                    <td *ngIf='dateList[dayIndex].isHoliday' [dragula]='"bag"' [dragulaModel]='slot' class="isHoliday">
                        <tt-cell class="myNoOpacity" *ngFor="let cell of slot" [cell]='cell' [dateList]='dateList' [time]='items' [data]='data' [dayIndex]='dayIndex' [showSaveButton]='showSaveButton' (clickSaveCell)='clickSaveCell($event)'></tt-cell>
                    </td>

                    <td *ngIf='!dateList[dayIndex].isHoliday' [dragula]='"bag"' [dragulaModel]='slot'>
                        <tt-cell class="myNoOpacity" *ngFor="let cell of slot" [cell]='cell' [dateList]='dateList' [time]='items' [data]='data' [dayIndex]='dayIndex' [showSaveButton]='showSaveButton' (clickSaveCell)='clickSaveCell($event)'></tt-cell>
                    </td>
                </ng-container>
            </tr>

            <tr>
                <td>
                    <input type="time" name="begin" (blur)='lesson.begin = $event.target.value'>
                    <input type="time" name="end" (blur)='lesson.end = $event.target.value'>
                    <div class="ui button" (click)="addLesson(lesson)">Добавить</div>
                </td>
            </tr>

        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <br>
</div>

<div id="myBoxCell">
    <div id='takeBox'></div>
    <div id='collapseBox' (click)='collapse = !collapse'>-</div>
    <div *ngIf='collapse'>
        <div class="ui button myButtonAdd" (click)="addCell()"><i class="icon plus"></i></div>
        <div class='myBagAddedCall' [dragula]='"bag"' [dragulaModel]='cellTimetable'>
            <div *ngFor="let item of cellTimetable">
                <tt-cell [cell]='item'></tt-cell>
            </div>
        </div>
    </div>
</div>


<modal id="cell-modal">
    <div class="modal">
        <div class="modal-body">
            <table width="100%" cellspacing="0" cellpadding="5" class="myTableModal">
                <tr>
                    <td valign="top">Повторяется:</td>
                    <td valign="top">
                        <select class="ui dropdown" #repeatWith (click)='settings(repeatWith.value)'>
                            <option value="day">каждый день</option>
                            <option value="week">каждую неделю</option>
                            <option value ="month">каждый месяц</option>
                        </select></td>
                </tr>

                <ng-container *ngIf='configSave.repeat === "day"'>
                    <tr>
                        <td width="200" valign="top">Дни повторения:</td>
                        <td valign="top">
                            <div class="ui form">
                                <div class="inline fields">
                                    <div class="field" *ngFor='let dName of daysName; let idx = index'>
                                        <div class="ui checkbox">
                                            <input type="checkbox" #selDays (change)='selectDays(selDays,idx)'>
                                            <label>{{dName}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf='configSave.repeat === "week"'>
                    <tr>
                        <td valign="top">Повторять с интервалом:</td>
                        <td valign="top">
                            <select class="ui dropdown" #repeatWithInterval (change)='configSave.repeatWithInterval = repeatWithInterval.value'>
                            <option  value='1' selected>1</option>
                            <option *ngFor='let el of arrRepWithInter'>{{el}}</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td width="200" valign="top">Дни повторения:</td>
                        <td valign="top">
                            <div class="ui form">
                                <div class="inline fields">
                                    <div class="field" *ngFor='let dName of daysName; let idx = index'>
                                        <div class="ui checkbox">
                                            <input type="checkbox" #selDays (change)='selectDays(selDays,idx)'>
                                            <label>{{dName}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td width="200" valign="top">Дата начала:</td>
                        <td valign="top">
                            <div class="ui input">
                                <input type="date" [value]="configSave.beginDate" #begin (change)='configSave.beginDate = begin.value'>
                            </div>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf='configSave.repeat === "month"'>
                    <tr>
                        <td valign="top">Повторять с интервалом:</td>
                        <td valign="top">
                            <select class="ui dropdown" #repeatWithInterval (change)='configSave.repeatWithInterval = repeatWithInterval.value'>
                            <option selected>1</option>
                            <option *ngFor='let el of arrRepWithInter'>{{el}}</option>
                        </select>
                        </td>
                    </tr>

                    <tr>
                        <td width="200" valign="top">Дата начала:</td>
                        <td valign="top">
                            <div class="ui input">
                                <input type="date" [value]="configSave.beginDate" #begin (change)='configSave.beginDate = begin.value'>
                            </div>
                        </td>
                    </tr>
                </ng-container>

            </table>

            <div class="modal-footer">
                <div class="ui button" (click)='deleteCell();'>Удалить Все </div>
                <div class="ui button" (click)='deleteCellWithMoment();'>Удалить с этой до кон</div>
                <div class="ui button" (click)='deleteThisCell();'>Удалить только эту</div>
                <div class="ui right floated  positive button primary" (click)="saveCell(configSave);">Сохранить</div>
            </div>

        </div>
    </div>
    <div class="modal-background"></div>
</modal>