<div class="ui container">
    <input type="text" name="name" (blur)='newDate.name = $event.target.value'>
    <input type="date" name="beginDate" (blur)='newDate.beginDate = $event.target.value'>
    <input type="date" name="endDate" (blur)='newDate.endDate = $event.target.value'>
    <div class="ui button" (click)="addDate(newDate)">Добавить</div><br>

    <div>
        <ol class='listTimetable'>
            <li *ngFor='let timetable of timetableList' (click)='goItem(timetable)'>{{timetable.name}}</li>
        </ol>
    </div>
</div>