.listTimetable * {
    transition: .4s linear;
}

.listTimetable {
    background: white;
    list-style-type: circle;
    list-style-position: inside;
    padding: 0 10px;
    margin: 0;
}

.listTimetable li {
    font-family: "Trebuchet MS", "Lucida Sans";
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
}

.listTimetable li:hover a {
    color: #c93961;
}