#table{
    width:100%;  
}

#table td{
    max-width:125px;
}

.cell{
    max-width: 300px;
    border:1px solid gray;
    background-color: whitesmoke;
    padding: 5px 5px 5px 5px;
    margin-bottom: 3px;
}

.buttonFilter{
    background-color: whitesmoke;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    box-shadow: 1px 1px 1px 1px gray;
}

#filter{
    margin-bottom: 10px;
}

#table  tr:nth-child(even) {
    background-color:rgba(46, 133, 46,0.4);
}

#filter select{
    margin-left: 5px;
    margin-right: 5px;
}