.myInline{
    display: inline-block;
}

.myDropDown{
    display: block;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    position: absolute !important;
    background-color:white;
    padding: 3px 3px 3px 3px;
    z-index:99999999;  
}

.week{
 cursor: pointer;
 margin-left: 10px;
 margin-right: 10px;
}
