<div>
    <!--Неделя назад-->
    <div class='myInline week'>
        <i class="icon Arrow Left" (click)='configFilter.date.next = false; configFilter.date.prev = true; change(configFilter);'></i>
    </div>

    <!--Установка предмета-->
    <div class='myInline'>
        <div class="ui input">
            <input type="text" placeholder="Предмет" #searchSubj (keyup)="search(searchSubj.value,'s')">
        </div>
        <div class="myDropDown" *ngIf='searchSubj.value != ""'>
            <div *ngIf='configFilter.subject.length > 0'>
                <div *ngFor="let subject of configFilter.subject">
                    <p><input type="checkbox" #selSubject (change)='selectSubject(selSubject,subject)' [checked]='true'>{{subject.name}}</p>
                </div>
                <div class='ui divider'></div>
            </div>

            <div *ngIf='searchListSubject.length > 0'>
                <div *ngFor="let subject of searchListSubject">
                    <p><input type="checkbox" #selSubject (change)='selectSubject(selSubject,subject)'>{{subject.name}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--Уствновка Преподавателя-->
    <div class='myInline '>
        <div class="ui input">
            <input type="text" placeholder="Преподватель" #searchT (keyup)="search(searchT.value,'t')">
        </div>
        <div class="myDropDown" *ngIf='searchT.value != ""'>
            <div *ngIf='configFilter.teacher.length > 0'>
                <div *ngFor="let teacher of configFilter.teacher">
                    <p><input type="checkbox" #selTeacher (change)='selectTeacher(selTeacher,teacher)' [checked]='true'>{{teacher.surname}}
                        {{teacher.name}} {{teacher.lastName}}
                    </p>
                </div>
                <div class='ui divider'></div>
            </div>

            <div *ngIf='searchListTeacher.length > 0'>
                <div *ngFor="let teacher of searchListTeacher">
                    <p><input type="checkbox" #selTeacher (change)='selectTeacher(selTeacher,teacher)'>{{teacher.surname}} {{teacher.name}}
                        {{teacher.lastName}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Установка группы-->
    <div class='myInline '>
        <div class="ui input">
            <input type="text" placeholder="Группа" #searchG (keyup)="search(searchG.value,'g')">
        </div>
        <div class="myDropDown" *ngIf='searchG.value != ""'>
            <div *ngIf='configFilter.group.length > 0'>
                <div *ngFor="let group of configFilter.group">
                    <p><input type="checkbox" #selGroup (change)='selectGroup(selGroup,group)' [checked]='true'>{{group.name}}</p>
                </div>
                <div class='ui divider'></div>
            </div>

            <div *ngIf='searchListGroup.length > 0'>
                <div *ngFor="let group of searchListGroup">
                    <p><input type="checkbox" #selGroup (change)='selectGroup(selGroup,group)'>{{group.name}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--Установка аудитории-->
    <div class='myInline '>
        <div class="ui input">
            <input type="text" placeholder="Аудитория" #searchO (keyup)="search(searchO.value,'o')">
        </div>
        <div class="myDropDown" *ngIf='searchO.value != ""'>
            <div *ngIf='configFilter.office.length > 0'>
                <div *ngFor="let office of configFilter.office">
                    <p><input type="checkbox" #selOffice (change)='selectOffice(selOffice,office)' [checked]='true'>{{office.name}}</p>
                </div>
                <div class='ui divider'></div>
            </div>

            <div *ngIf='searchListOffice.length > 0'>
                <div *ngFor="let office of searchListOffice">
                    <p><input type="checkbox" #selOffice (change)='selectOffice(selOffice,office)'>{{office.name}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--Неделя назад-->
    <div class='myInline week'>
        <i class="icon Arrow Right" (click)='configFilter.date.prev = false; configFilter.date.next = true; change(configFilter);'></i>
    </div>

</div>