.myInline{
    display: inline-block;
}

.myTeacherDropDown{
    display: block;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    position: absolute !important;
    background-color:white;
    padding: 3px 3px 3px 3px;
    z-index:99999999; 
}
.myTeacherDropDown .mySelectedTeacher{
    border-bottom:1px solid; 
}