<div class="container">

    <div class="emptyList" *ngIf="teacherList.length == 0;else Tlist">
        <h1>Список пуст</h1>
    </div>

    <ng-template #Tlist>
        <ol class='list'>
            <li *ngFor='let teacher of teacherList' (click)="goTeacherId(teacher._id)">{{teacher.surname}} {{teacher.name}} {{teacher.lastName}}</li>
        </ol>
    </ng-template>
</div>

<div class="add">
    <h3>Добавить преподавателя</h3>
    <div class="input">
        <input type="text" name="surname" [(ngModel)]="teacher.surname" placeholder="Фамилия" required/>
    </div>
    <div class="input">
        <input type="text" name="name" [(ngModel)]="teacher.name" placeholder="Имя" required/>
    </div>
    <div class="input">
        <input type="text" name="lastName" [(ngModel)]="teacher.lastName" placeholder="Отчество" required/>
    </div>
    <div class="button">
        <input type="button" (click)="addTeacher(teacher)" value="Добваить" [disabled]='!teacher.surname && !teacher.name && !teacher.lastName'>
    </div>
</div>