<div class="ui container">
    <div class="ui basic buttons myTopMenu">
        <div class="ui button">Назад</div>
        <div class="ui button">Сохранить</div>
        <div class="ui button">Удалить</div>
    </div>

    <div class="ui radio checkbox">
        <input type="radio" #checkRepeat (click)='repeatCheck(checkRepeat,repeatModal)'>
        <label>Повторяющееся событие</label>
    </div>

</div>


<sm-modal title="Повторяющееся событие" #repeatModal>
    <modal-content>
        <sm-list>
            <sm-item>
                <label>Повторяется:</label>
                <select class="ui dropdown" #repeatWith (change)='configSave.repeat = repeatWith.value'>
                        <option value="week">Неделя</option>
                        <option value ="everyWeek">Каждая неделя</option>
                    </select>
            </sm-item>

            <sm-item>
                <label>Повторять с интервалом:</label>
                <input type="number" #repeatWithInterval [value]='repeatWithInterval.value' />
            </sm-item>

        </sm-list>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui positive button primary" (click)="saveCell(configSave);">Сохранить</div>
            <div class="ui negative button primary" (click)="closeRepModal(repeatModal, checkRepeat);">Выйти</div>
        </div>
    </modal-actions>
</sm-modal>