<div class="container">

    <div class="emptyList" *ngIf="officeList.length == 0;else Olist">
        <h1>Список пуст</h1>
    </div>

    <ng-template #Olist>
        <ol class='list'>
            <li *ngFor='let office of officeList' (click)="goOfficeId(office._id)">{{office.name}}</li>
        </ol>
    </ng-template>
</div>

<div class="add">
    <h3>Добавить аудиторию</h3>
    <div class="input">
        <input type="text" name="name" [(ngModel)]="office.name" placeholder="Наименование" required/>
    </div>
    <div class="button">
        <input type="button" (click)="addOffice(office)" value="Добваить" [disabled]='!office.name'>
    </div>
</div>