.center {
    text-align: center;
    padding-top: 100px;
}

.sebm-google-map-container {
    height: 300px;
}

.flash-message {
    z-index: 10000;
    position: relative;
}

.alert-error {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: white;
    border: 1px solid gray;
}

.list * {
    transition: .4s linear;
}

.list {
    background: white;
    list-style-type: circle;
    list-style-position: inside;
    padding: 0 10px;
    margin: 0;
}

.list li {
    font-family: "Trebuchet MS", "Lucida Sans";
    font-size: 18;
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
}

.list li .delete {
    background: red;
    border: 1px solid black;
    right: 5px;
}

.list li:hover {
    cursor: pointer;
    color: brown;
}

.add {
    position: fixed;
    top: 68px;
    left: 20px;
    padding: 20px;
    -webkit-box-shadow: -1px 2px 52px -5px rgba(158, 158, 158, 0.89);
    -moz-box-shadow: -1px 2px 52px -5px rgba(158, 158, 158, 0.89);
    box-shadow: -1px 2px 52px -5px rgba(158, 158, 158, 0.89);
}

.add .input input,
.add .date input {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    min-height: 35px;
    width: 200px;
    color: slategrey;
    font-size: 18px;
    font-family: Tahoma;
    margin: 5px 0px 5px 2px;
    padding: 3px;
}

.add .button {
    width: 50%;
    height: 39px;
    padding-top: 10;
}

.add .button input {
    width: 100%;
    height: 100%;
}

.navigation {
    background-color: #D8E5F1;
    height: 50px;
}

.content {
    height: 100%;
    width: 100%;
}

.content .container {
    margin-left: 500;
    margin-top: 10px;
    margin-right: 30%;
}

.emptyList h1 {
    text-align: -webkit-center;
    font-family: serif;
}