<div class="ui container">
    <table class="ui celled table">
        <thead>
            <tr>
                <th colspan="2">Внесите изменения</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Наименование</td>
                <td class="selectable" contenteditable="true" (blur)="group.name=$event.target.outerText">
                    {{group.name}}
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="updateGroup(group)" class="ui right floated button">Сохранить</button>
</div>