<div class="container">

    <div class="emptyList" *ngIf="groupList.length == 0;else Glist">
        <h1>Список пуст</h1>
    </div>

    <ng-template #Glist>
        <ol class='list'>
            <li *ngFor='let group of groupList' (click)="goGroupId(group._id)">{{group.name}}</li>
        </ol>
    </ng-template>
</div>

<div class="add">
    <h3>Добавить группу</h3>
    <div class="input">
        <input type="text" name="name" [(ngModel)]="group.name" placeholder="Наименование" required/>
    </div>
    <div class="button">
        <input type="button" (click)="addGroup(group)" value="Добваить" [disabled]='!group.name'>
    </div>
</div>

<!--<div class="ui middle aligned divided list">
                    <div class="item">
                        <div class="right floated content">
                            <button class=" compact ui button " (click)="deleteGroup(item._id);$event.stopPropagation();">Удалить</button>
                        </div>
                        <div class="ui content">
                            {{item.name}}
                        </div>
                    </div>
                </div>-->