<div class="container">
    <div class="emptyList" *ngIf="subjectList.length == 0;else content">
        <h1>Список пуст</h1>
    </div>

    <ng-template #content>
        <ol class='list'>
            <li *ngFor='let subject of subjectList' (click)="goSubjectId(subject._id)">{{subject.name}}</li>
        </ol>
    </ng-template>
</div>

<div class="add">
    <h3>Добавить предмет</h3>
    <div class="input">
        <input type="text" name="name" [(ngModel)]="subject.name" placeholder="Наименование" required/>
    </div>
    <div class="button">
        <input type="button" (click)="addSubject(subject)" value="Добваить" [disabled]='!subject.name'>
    </div>
</div>