<div class="ui container">
    <table class="ui celled table">
        <thead>
            <tr>
                <th colspan="3">Внесите изменения</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Фамилия</td>
                <td contenteditable="true" (blur)="teacher.surname=$event.target.outerText">
                    {{teacher.surname}}
                </td>
            </tr>
            <tr>
                <td>Имя</td>
                <td contenteditable="true" (blur)="teacher.name=$event.target.outerText">
                    {{teacher.name}}
                </td>
            </tr>
            <tr>
                <td>Отчество</td>
                <td contenteditable="true" (blur)="teacher.lastName=$event.target.outerText">
                    {{teacher.lastName}}
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="updateTeacher(teacher)" class="ui right floated button">Сохранить</button>
</div>